@{
    ViewBag.Title = "Home Page";
}

<div data-ng-app="poker">
    <div data-ng-view></div>
</div>

@section scripts{
    <script>
        var app = angular.module('poker', ['ngRoute']);

        app.config(function($routeProvider) {
            $routeProvider.when('/', {
                    controller: 'lobbyController',
                    templateUrl: '/templates/lobby.html'
                }).when('/game-summary/:id', {
                    controller: 'gameSummaryController',
                    templateUrl: '/templates/gamesummary.html'
                }).when('/game/:id', {
                    controller: 'gameController',
                    templateUrl :'/templates/game.html'
                }).otherwise({
                    redirectTo: '/'
                });
        });
    </script>

    <script src="~/Scripts/app/controllers/LobbyController.js"></script>
    <script src="~/Scripts/app/services/signalrHubService.js"></script>
    <script src="~/Scripts/app/services/lobbyService.js"></script>
    <script src="~/Scripts/app/controllers/GameController.js"></script>
    <script src="~/Scripts/app/services/GameService.js"></script>
    <script src="~/Scripts/app/controllers/GameSummaryController.js"></script>
}